

<ion-view view-title="Login">
  <ion-content class="padding">

    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="text" placeholder="password">
      </label>

      <div class="padding">
        <button class="button button-positive">
          button-positive
        </button>
      </div>


    </div>



  </ion-content>
</ion-view>
